<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Jus Wee &amp; Friends - <%= @pagetitle %></title>

  <%= stylesheet_link_tag    'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
    <body id="interface-container" class="user-interface <%= @page_class %>">

        <%= yield %>

        <%= render partial: 'shared/user_nav' %>

    </body>
    <%= javascript_include_tag 'application' %>
</html>
